h1 {
    font-size: 30px;
    color: #f10000;
}

h1 span {
    font-size: 24px;
    color: #000000;
     display: block;
}
h3.external{
    color:#EA6122;
}

h6{
     color:#EC407A;
    font-size: 18px;
}
